venv/
venv_*
node_modules/

.*
!.github
!.gitignore
!.editorconfig
!.pre-commit-config.yaml
!.ecrc
!.solhint.json
!.solhintignore
!.prettierignore
!.prettierrc

*.py[co]
*.whl

drafts/

*.env
!*example.env
